<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam fugiat, minima nesciunt consectetur eveniet magni fugit reprehenderit sint impedit tenetur architecto optio exercitationem, soluta et, beatae qui hic? Esse, necessitatibus voluptas! Fugit nesciunt vel unde, atque quasi molestiae labore.</p>
        
    </div>
</div>