<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs And Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur cumque, ducimus iste doloribus temporibus consectetur maxime voluptatem.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur </p>
       <a href="http://google.com" class="btn btn-primary btn-lg">GOOGLE</a>
</div>